
.hentry .entry-content .wp-block-button:not(.is-style-squared) .wp-block-button__link {
  border: 2px solid #000;
  box-shadow: 0px 0px 3px 2px #888;
  // box-shadow: inset 0 -3px 0 #000;
}
.hentry .entry-content .wp-block-button:not(.is-style-squared) .wp-block-button__link:hover {
  background: rgba(0,0,0,0.7);
}
