ul.products li.product.product-category img {
  transform: scale(1);
  transition: all .4s;
  &:hover {
    transform: scale(1.1);
  }
}
.post-10 {
  margin-bottom: 0;
}
.storefront-product-categories .section-title {
  display: none;
}
.one-half {
  flex: 0 0 50%;
}
.row-full{
width: 100vw;
position: relative;
margin-left: -50vw;
// margin-top: 100px;
left: 50%;
}
@include atSmallMedium {
  .content {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
};

.hentry .entry-header, .alpha, .entry-header {
  border-bottom: none;
  margin-bottom: 0;
}
.post-excert {
  margin-top: 1.5em;
}
.home-group {
  padding-top: 4em;
}
