@mixin atSmall {
  @media (min-width: 530px) { @content; }
}
@mixin atSmallMedium {
  @media (min-width: 768px) { @content; }
}
@mixin atMedium {
  @media (min-width: 960px) { @content; }
}


$mainTeal: rgb(137, 198, 181);
$lightOrange: #EE964B;
$darkOrange: #F95738;
$lightGreen: #a5cdb2;
$treeGreen: #469961;
$darkGreen: #084a1e;
$violet: #775fa7;
//import style components

@import 'css/utility';
@import 'css/btn';
@import 'css/header';
@import 'css/single-product.scss';
@import 'css/misc.scss';
